.product-page {
  padding: 20px;
  text-align: center;
  background-color: #f2f3f4;
}

.product-page img {
  max-width: 80vw;
  max-height: 58vh;
  margin-bottom: 20px;
  border-radius: 10px;
}

.product-page h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.product-page p {
  font-size: 20px;
  margin-bottom: 15px;
}

.price {
  font-weight: bold;
}

.product-page button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
